<div >

  <div label="Direcciones">

    <ng-container *ngIf="direcciones; else elseTemplate">
      <div class="grid p-3  align-items-center mt-3 ">

        <div *ngFor="let direccion of direcciones" class="col-12 md:col-6">
          <div class="shadow-3">
            <div>
              <div>{{direccion.nombre}}</div>
              <div> {{direccion.direccion}} </div>
            </div>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <div>
              <p>
                Coordenadas GPS:
                <!-- Latitud: {{direccion.localizacion.latitud}}
                Longitud: {{direccion.localizacion.longitud}} -->
              </p>
            </div>
            <!-- <shared-favoritos></shared-favoritos> -->

            <div class="flex justify-content-between	">
              <a href="{{direccion.enlaceGoogleMaps}}" target="_blank">Como llegar</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <shared-spinner></shared-spinner>
    </ng-template>
  </div>

  <div label="Normas">

    <ng-container *ngIf="normas; else elseTemplate">
      <div class="p-5  mt-3 ">
        <div class="" *ngFor="let norma of normas">
          <div>
            <div>{{norma}}</div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #elseTemplate>
      <shared-spinner></shared-spinner>
    </ng-template>
  </div>
</div>
