<ng-container *ngIf="info.length>0; else elseTemplate">
  <div class="grid m-3">

    <div *ngFor="let item of info" class="col-12 md:col-6">

      <mat-card class="  align-items-center shadow-3 m-4">
        <mat-card-header class="mb-2">
          <mat-card-title>
            <a [routerLink]="['./', item.id]">
              {{item.id| titlecase }}
            </a>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
