<ng-container *ngIf="restaurants.length>0; else elseTemplate">
  <div class="grid p-3">

    <div *ngFor="let restaurant of restaurants" class="col-12 md:col-6 lg:col-4">

      <mat-card class=" align-items-center shadow-3">
        <mat-card-header class="mb-2">
          <mat-card-title>
            <a [routerLink]="['./', restaurant.id]">
              {{restaurant.nombre}}
            </a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="text-center">{{restaurant.descripcion}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-container>


<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
