<!-- <ng-container *ngIf="gasolineras; else elseTemplate">
  <div
    class="text-l md:text-xl sm:font-light md:font-medium  text-center mb-3 w-full h-2rem flex align-items-center justify-content-center shadow-5 relative">
    {{title}}
  </div>
  <div class="w-full">

    <div label="Gasolineras">
      <div class=" m-5 ">

        <div mat-table #gasolinerasTabla [dataSource]="gasolineras" class="mat-elevation-z8"> -->

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="nombre">
            <div mat-header-cell *madiveaderCellDef>Nombre</div>
            <div mat-cell *matCellDef="let element"> {{element.nombre}}</div>
          </ng-container> -->

          <!-- Address Column -->
          <!-- <ng-container matColumnDef="direccion">
            <div mat-header-cell *madiveaderCellDef>Dirección</div>
            <div mat-cell *matCellDef="let element"> {{element.direccion}} </div>
          </ng-container> -->

          <!-- Poblacion Column -->
          <!-- <ng-container matColumnDef="poblacion">
            <div mat-header-cell *madiveaderCellDef>Población</div>
            <div mat-cell *matCellDef="let element"> {{element.poblacion}} </div>
          </ng-container> -->
          <!-- Pais Column -->
          <!-- <ng-container matColumnDef="pais">
            <div mat-header-cell *madiveaderCellDef>País</div>
            <div mat-cell *matCellDef="let element"> {{element.pais}}</div>
          </ng-container> -->

          <!-- 24H Column -->
          <!-- <ng-container matColumnDef="todoElDia">
            <div mat-header-cell *madiveaderCellDef>24h</div>
            <div mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.todoElDia">check</mat-icon>
            </div>
          </ng-container> -->

          <!-- GPS Column -->
          <!-- <ng-container matColumnDef="gMaps">
            <div mat-header-cell *madiveaderCellDef>Enlace</div>
            <div mat-cell *matCellDef="let element">
              <a href="{{element.gMaps}}" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </div>
          </ng-container> -->

          <!-- Actions Column -->
          <!-- <ng-container matColumnDef="actions">
            <div mat-header-cell *madiveaderCellDef>Actions </div>
            <div mat-cell *matCellDef="let element">
              <!-- TODO: añadir feature editar pasando datos al formulario -->
              <!-- <button mat-button color="primary" (click)="edidivirection(divis.element)">Edit</button> | -->
              <!-- <button mat-button color="warn" (click)="deleteGasolinera(divis.element)">Delete</button>
            </div>
          </ng-container> -->

          <!-- <tr mat-header-row *madiveaderRowDef="columnasGasolineras"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasGasolineras;"></tr>

        </div>
      </div>

      <div class="px-5 mb-5">

        <form [formGroup]="gasolineraForm" (ngSubmit)="f.form.valid && addGasolinera(f)" #f="ngForm" class=" w-full">

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input required matInput formControlName="nombre">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input required matInput formControlName="direccion">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Población</mat-label>
            <input required matInput formControlName="poblacion">
          </mat-form-field>
          <mat-form-field>
            <mat-label>País</mat-label>
            <input required matInput formControlName="pais">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enlace Google Maps</mat-label>
            <input required matInput formControlName="gMaps">
          </mat-form-field>

          <mat-checkbox matInput formControlName="todoElDia">24 horas</mat-checkbox>

          <br>
          <button mat-stroked-button type="submit" color="primary" [disabled]="!gasolineraForm.valid">
            <mat-icon>add</mat-icon>
          </button>
          <button type="reset" mat-stroked-button color="accent">
            <mat-icon>restart_alt</mat-icon>
          </button>

        </form>

      </div>
    </div>
    <mat-tab label="Salud">

      <div class="m-5">
        <table mat-table #saludTabla [dataSource]="salud" class="mat-elevation-z8"> -->

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="nombre">
            <div mat-header-cell *madiveaderCellDef>Nombre</div>
            <div mat-cell *matCellDef="let element"> {{element.nombre}}</div>
          </ng-container> -->

          <!-- Address Column -->
          <!-- <ng-container matColumnDef="direccion">
            <div mat-header-cell *madiveaderCellDef>Dirección</div>
            <div mat-cell *matCellDef="let element"> {{element.direccion}} </div>
          </ng-container> -->

          <!-- Poblacion Column -->
          <!-- <ng-container matColumnDef="poblacion">
            <div mat-header-cell *madiveaderCellDef>Población</div>
            <div mat-cell *matCellDef="let element"> {{element.poblacion}} </div>
          </ng-container> -->
          <!-- Pais Column -->
          <!-- <ng-container matColumnDef="tipo">
            <div mat-header-cell *madiveaderCellDef>Tipo</div>
            <div mat-cell *matCellDef="let element"> {{element.tipo}}</div>
          </ng-container> -->

          <!-- 24H Column -->
          <!-- <ng-container matColumnDef="todoElDia">
            <div mat-header-cell *madiveaderCellDef>24h</div>
            <div mat-cell *matCellDef="let element">
              <mat-icon *ngIf="element.todoElDia">check</mat-icon>
            </div>
          </ng-container> -->

          <!-- GPS Column -->
          <!-- <ng-container matColumnDef="gMaps">
            <div mat-header-cell *madiveaderCellDef>Enlace</div>
            <div mat-cell *matCellDef="let element">
              <a href="{{element.gMaps}}" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </div>
          </ng-container> -->

          <!-- Actions Column -->
          <!-- <ng-container matColumnDef="actions">
            <div mat-header-cell *madiveaderCellDef>Actions </div>
            <div mat-cell *matCellDef="let element">
              TODO: añadir feature editar pasando datos al formulario
              <button mat-button color="primary" (click)="edidivirection(divis.element)">Edit</button> |
              <button mat-button color="warn" (click)="deleteSalud(divis.element)">Delete</button>
            </div>
          </ng-container> -->
<!--
          <tr mat-header-row *madiveaderRowDef="columnasSalud"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasSalud;"></tr>

        </table>

      </div>
      <div class="px-5 mb-5"> -->

        <!-- <form [formGroup]="saludForm" (ngSubmit)="f.form.valid && addSalud(f)" #f="ngForm" class=" w-full">

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input required matInput formControlName="nombre">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo</mat-label>
            <input required matInput formControlName="tipo">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input required matInput formControlName="direccion">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Población</mat-label>
            <input required matInput formControlName="poblacion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enlace Google Maps</mat-label>
            <input required matInput formControlName="gMaps">
          </mat-form-field>

          <mat-checkbox matInput formControlName="todoElDia">24 horas</mat-checkbox>

          <br>
          <button mat-stroked-button type="submit" color="primary" [disabled]="!saludForm.valid">
            <mat-icon>add</mat-icon>
          </button>
          <button type="reset" mat-stroked-button color="accent">
            <mat-icon>restart_alt</mat-icon>
          </button>

        </form>

      </div> -->

    <!-- </mat-tab>
    <mat-tab label="Tiendas">
      <div class="m-5">
        <table mat-table #tiendasTabla [dataSource]="tiendas" class="mat-elevation-z8"> -->

          <!-- Name Column -->
          <!-- <ng-container matColumnDef="nombre">
            <div mat-header-cell *madiveaderCellDef>Nombre</div>
            <div mat-cell *matCellDef="let element"> {{element.nombre}}</div>
          </ng-container> -->

          <!-- Address Column -->
          <!-- <ng-container matColumnDef="direccion">
            <div mat-header-cell *madiveaderCellDef>Dirección</div>
            <div mat-cell *matCellDef="let element"> {{element.direccion}} </div>
          </ng-container> -->

          <!-- Poblacion Column -->
          <!-- <ng-container matColumnDef="poblacion">
            <div mat-header-cell *madiveaderCellDef>Población</div>
            <div mat-cell *matCellDef="let element"> {{element.poblacion}} </div>
          </ng-container> -->
          <!-- Pais Column -->
          <!-- <ng-container matColumnDef="descripcion">
            <div mat-header-cell *madiveaderCellDef>Descripcion</div>
            <div mat-cell *matCellDef="let element"> {{element.descripcion}}</div>
          </ng-container> -->

          <!-- GPS Column -->
          <!-- <ng-container matColumnDef="gMaps">
            <div mat-header-cell *madiveaderCellDef>Enlace</div>
            <div mat-cell *matCellDef="let element">
              <a href="{{element.gMaps}}" target="_blank">
                <mat-icon>open_in_new</mat-icon>
              </a>
            </div>
          </ng-container> -->

          <!-- Actions Column -->
          <!-- <ng-container matColumnDef="actions">
            <div mat-header-cell *madiveaderCellDef>Actions </div>
            <div mat-cell *matCellDef="let element">
              TODO: añadir feature editar pasando datos al formulario
              <button mat-button color="primary" (click)="edidivirection(divis.element)">Edit</button> |
              <button mat-button color="warn" (click)="deleteTienda(divis.element)">Delete</button>
            </div>
          </ng-container> -->

          <!-- <tr mat-header-row *madiveaderRowDef="columnasTiendas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnasTiendas;"></tr>

        </table>

      </div>
      <div class="px-5 mb-5">

        <form [formGroup]="tiendasForm" (ngSubmit)="f.form.valid && addTienda(f)" #f="ngForm" class=" w-full">

          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input required matInput formControlName="nombre">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
          </mat-form-field>

          <mat-form-field class="w-5">
            <mat-label>Descripción</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" matInput
              formControlName="descripcion"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Población</mat-label>
            <input matInput formControlName="poblacion">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enlace Google Maps</mat-label>
            <input matInput formControlName="gMaps">
          </mat-form-field>

          <br>
          <button mat-stroked-button type="submit" color="primary" [disabled]="!tiendasForm.valid">
            <mat-icon>add</mat-icon>
          </button>
          <button type="reset" mat-stroked-button color="accent">
            <mat-icon>restart_alt</mat-icon>
          </button>

        </form>
      </div>

    </mat-tab>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template> -->
