<header class="relative">
  <div
    class="text-xl md:text-3xl sm:font-light md:font-medium  text-center mb-3 w-screen h-5rem flex align-items-center justify-content-center shadow-5 relative">
    <a routerLink="/carmen/admin"   class="no-underline text-200 relative">Panel de administración</a>
  </div>
  <button (click)="logOut()" class="absolute right-0 top-0 my-4 mr-1" mat-stroked-button>
    Salir
    <mat-icon matSuffix>logout</mat-icon>
  </button>
</header>
<router-outlet></router-outlet>
