<ng-container *ngIf="restaurant; else elseTemplate">
  <div class="m-5">
    <div>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <div>{{restaurant.nombre}}</div>
      <div> {{restaurant.direccion}} </div>
    </div>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <div>
      <p>
        {{restaurant.descripcion}}
      </p>
    </div>

    <!-- <shared-favoritos></shared-favoritos> -->

    <div class="flex justify-content-between	">
      <a href="{{restaurant.gMaps}}" target="_blank">Como llegar</a>
    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
