<ng-container *ngIf="playa; else elseTemplate">

  <div class="m-5">
    <div>
      <div>{{playa.nombre}}</div>
      <div>
         <!-- {{playa.direccion}} -->
         <img class="max-h-10rem" matCardImage src="{{playa.imagen}}">
        </div>
    </div>

    <div>
      <p>
        {{playa.descripcion}}
      </p>
    </div>

    <!-- <shared-favoritos></shared-favoritos> -->

    <div class="flex justify-content-between	">

      <a href="{{playa.gMaps}}" target="_blank">Como llegar</a>
    </div>
  </div>

</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
