<ng-container *ngIf="piso; else elseTemplate">
  <div>
    <div>
      <!-- <div label="{{piso.id | titlecase }}"> -->
      <div class="m-5">
        <div>
          <div>Información relevante</div>
          <!-- <div> {{piso.resumen}} </div> -->
        </div>
        <div class="mb-5"></div>
        <div>
          <p *ngFor="let parte of piso.descripcion">
            {{parte}}
          </p>
        </div>

        <!-- <shared-favoritos></shared-favoritos> -->

      </div>
    </div>
    <div label="Vídeos">

      <div *ngFor="let video of piso.video" class="m-5">
        <div>
          <!-- <div>{{video.descripcion}}</div> -->
        </div>

        <div>
          <div class="grid p-2">
            <shared-video-container class="col-12 lg:col-8" [videoUrl]="video.videoUrl"></shared-video-container>
          </div>
        </div>

        <!-- <shared-favoritos></shared-favoritos> -->

      </div>

    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
