<ng-container *ngIf="instrucciones; else elseTemplate">

  <mat-tab-group [disableRipple]="false">
    <mat-tab label="{{aparato.aparato | titlecase}}" *ngFor="let aparato of instrucciones.aparatos">
      <mat-card class="m-5">
        <mat-card-header>
          <mat-card-title>{{aparato.aparato | titlecase}}</mat-card-title>
          <mat-card-subtitle>Instrucciones de uso</mat-card-subtitle>
        </mat-card-header>
        <mat-divider class="mb-3"></mat-divider>
        <mat-card-content>
          <p *ngFor="let parte of aparato.descripcion">
            {{parte}}
          </p>
          <div class="grid p-2">
            <img *ngFor="let imagen of aparato.imagenes" class="max-h-full m-2 " matCardImage src="{{imagen}}">
          </div>

          <div class="grid p-2">
            <shared-video-container class="col-12 lg:col-8" *ngFor="let video of aparato.video"
              [videoUrl]="video"></shared-video-container>
          </div>
        </mat-card-content>

        <!-- <shared-favoritos></shared-favoritos> -->
      </mat-card>
    </mat-tab>
  </mat-tab-group>

</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
