<ng-container *ngIf="instrucciones; else elseTemplate">

  <div >
    <!-- <div label="{{aparato.aparato | titlecase}}" > -->
      <div *ngFor="let aparato of instrucciones.aparatos">
      <div class="m-5">
        <div>
          <div>{{aparato.aparato | titlecase}}</div>
          <div>Instrucciones de uso</div>
        </div>
        <div class="mb-3"></div>
        <div>
          <p *ngFor="let parte of aparato.descripcion">
            {{parte}}
          </p>
          <div class="grid p-2">
            <img *ngFor="let imagen of aparato.imagenes" class="max-h-full m-2 " matCardImage src="{{imagen}}">
          </div>

          <div class="grid p-2">
            <shared-video-container class="col-12 lg:col-8" *ngFor="let video of aparato.video"
              [videoUrl]="video"></shared-video-container>
          </div>
        </div>

        <!-- <shared-favoritos></shared-favoritos> -->
      </div>
    </div>
  </div>

</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
