/* You can add global styles to this file, and also import other style files */
:root{
  --primary-color:blue;
  --primary-color-text: wheat;
  --secondary-color: red;
  --seconday-color-text: green;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg1 {
  background-color: var(--primary-color);
  color: var(--primary-color-text);
}

.bg2{
  background-color: var(--secondary-color);
  color: var(--secondary-color-text);
}
