<ng-container *ngIf="mostrar; else elseTemplate">
  <div class="grid p-3">
    <div *ngFor="let item of mostrar" class="col-12 md:col-6 lg:col-4">

      <mat-card>
        <mat-card-header>
          <mat-card-title><span *ngIf="item.tipo">{{item.tipo}} - </span>{{item.nombre}}</mat-card-title>
          <mat-card-subtitle> {{item.direccion}} - {{item.poblacion}}<span *ngIf="item.pais"> -
              {{item.pais}}</span></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="item.todoElDia">
          <p>
            24h
          </p>
        </mat-card-content>

        <!-- <shared-favoritos></shared-favoritos> -->

        <mat-card-actions class="flex justify-content-between	">
          <a href="{{item.gMaps}}" target="_blank">Cómo llegar</a>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
