<ng-container *ngIf="mostrar; else elseTemplate">
  <div class="grid p-3">
    <div *ngFor="let item of mostrar" class="col-12 md:col-6 lg:col-4">

      <div>
        <div>
          <div><span *ngIf="item.tipo">{{item.tipo}} - </span>{{item.nombre}}</div>
          <div> {{item.direccion}} - {{item.poblacion}}<span *ngIf="item.pais"> -
              {{item.pais}}</span></div>
        </div>
        <div *ngIf="item.todoElDia">
          <p>
            24h
          </p>
        </div>

        <!-- <shared-favoritos></shared-favoritos> -->

        <div class="flex justify-content-between	">
          <a href="{{item.gMaps}}" target="_blank">Cómo llegar</a>
        </div>
      </div>

    </div>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <shared-spinner></shared-spinner>
</ng-template>
